$popins: 'Poppins', sans-serif;
$aleo: 'Aleo' , sans-serif;
$width-wrapper:1200px;

@mixin button_hover_yellow{
  background-color: #ffe76e;
  transition: 0.45s;
}

@mixin button_active_yellow{
  border: 1px solid blue;
  transition: 0.1s;
  box-shadow: 0px 0px 3px 0px;
  background-color: #e9c928; 
}

@mixin button_hover_grey{
  background-color: #f8f8f8;
  transition: 0.5s;
}

@mixin button_active_grey{
  border: 1px solid blue;
  transition: 0.1s;
  box-shadow: 0px 0px 3px 0px; 
}